name: Linux Rust Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build
        run: |
          cd build
          cd rust
          bash build.sh librust_raknet.so librust-raknet.so

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: raknet-amd64
          path: raknet_rs/target/release/librust-raknet.so
